{template '_header'}

<div class="page-heading"> <h2>业务员详情</h2> </div>
<form action="" method="post" class="form-horizontal form-validate" >
<div class="panel panel-default">
    <div class="panel-heading">

        ID:{$id}

    </div>
    <br/>
    <div class="form-group">
        <label class="col-sm-2 control-label">头像</label>
        <div class="col-sm-9 col-xs-12">
            {if $user['headimgurl']!=""}<img src="{$user['headimgurl']}" style="width:50px;height:50px;padding:1px;border:1px solid #ccc" onerror="">{else}未完善{/if}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">微信昵称</label>
        <div class="col-sm-9 col-xs-12">
            {$user['nickname']}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">性别</label>
        <div class="col-sm-9 col-xs-12">
            <label class="radio-inline"><input type="radio" name="sex" value="1" {if $user['sex']==1}checked='true'{/if}>男</label>
            <label class="radio-inline"><input type="radio" name="sex" value="0" {if $user['sex']==0}checked='true'{/if}>女</label>

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">所属团队</label>
        <div class="col-sm-9 col-xs-12">
            <select name="tid" class="form-control valid" aria-invalid="false">
                <option value="0" {if $user['tid']==0}selected='true'{/if}>无团队</option>
                {loop $tdlist $td}
                <option value="{$td['id']}" {if $user['tid']==$td['id']}selected='true'{/if}>{$td['name']}</option>
                {/loop}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">身份类型</label>
        <div class="col-sm-9 col-xs-12">
            <select name="flag" class="form-control">
                <option value="0" {if $user['flag']==0}selected='true'{/if}>置业顾问</option>
                <option value="1" {if $user['flag']==1}selected='true'{/if}>团队经理</option>
                <option value="2" {if $user['flag']==2}selected='true'{/if}>项目经理</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">真实姓名</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="realname" class="form-control" value="{$user['realname']}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">手机号</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="mobile" class="form-control" value="{$user['mobile']}">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">微信号</label>
        <div class="col-sm-9 col-xs-12">
            <input type="text" name="wechanum" class="form-control" value="{$user['wechanum']}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">注册时间</label>
        <div class="col-sm-9 col-xs-12">
            <div class="form-control-static">{php echo date('Y-m-d H:i:s', $user['createtime']);}</div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">关注状态</label>
        <div class="col-sm-9 col-xs-12">
            <div class="form-control-static">
                {if $v['is_gz']==0}
                <span class="label label-success">未关注</span>
                {else}
                <span class="label label-important">已关注</span>
                {/if}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">状态</label>
        <div class="col-sm-9 col-xs-12">
            <label class="radio-inline"><input type="radio" name="status" value="0" {if $user['status']==0}checked='true'{/if}>在职</label>
            <label class="radio-inline"><input type="radio" name="status" value="1" {if $user['status']==1}checked='true'{/if}>休假</label>
            <label class="radio-inline"><input type="radio" name="status" value="2" {if $user['status']==2}checked='true'{/if}>离职</label>

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">备注</label>
        <div class="col-sm-9 col-xs-12">
            <textarea name="content" class="form-control">{$user['content']}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-9 col-xs-12">
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$user['id']}">
            <input type="submit" value="提交" class="btn btn-primary">
            <input type="button" class="btn btn-default"  onclick="history.back()" value="返回列表" style="margin-left:10px;">
        </div>
    </div>

</div>
</form>

{template '_footer'}