{template '_header'}

<div class="page-heading">
            <span class="pull-right">
                {ifp 'business.add'}
                <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" href=""><i class="fa fa-plus"></i> 添加团队</a>
                {/if}
            </span>
    <h2>团队管理</h2>
</div>
<div class="page-toolbar row m-b-sm m-t-sm">
    <div class="col-sm-4">
        <div class="input-group-btn">
            <button class="btn btn-default btn-sm" type="button" data-toggle="refresh" onclick="location.href = ''"><i class="fa fa-refresh"></i></button>
            {ifp 'business.delete'}
            <button class="btn btn-default btn-sm jud_a" type="button" data-toggle="batch-remove" data-confirm="确认要删除吗?" data-href="{php echo webUrl('business/delete')}" ><i class="fa fa-trash"></i> 删除</button>
            {/if}
        </div>
    </div>

    <div class="col-sm-6 pull-right">
        <form action="" method="post">
            <div class="input-group">

                <input type="text" class="form-control input-sm" name="sort" value="{$sort}" placeholder="请输入关键词">
                        <span class="input-group-btn">
                            <button class="btn btn-sm btn-primary" type="submit"> 搜索</button>
                        </span>

            </div>
        </form>
    </div>
</div>
<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">添加团队</h4>
            </div>
            <small class="font-bold">
                <form action="{php echo webUrl('business/post')}" class="form-horizontal form form-validate" method="post" >
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label must" >团队名称</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="name" placeholder="请输入团队名称" class="form-control">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{$_W['token']}">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </small>
        </div>
        <small class="font-bold">
        </small>
    </div>
    <small class="font-bold">
    </small>
</div>

<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title">编辑团队</h4>
            </div>
            <small class="font-bold">
                <form action="{php echo webUrl('business/post')}" class="form-horizontal form form-validate" method="post" >
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="col-sm-2 control-label must" >团队名称</label>
                            <div class="col-sm-9 col-xs-12">
                                <input type="text" name="name" id="tname" placeholder="请输入团队名称" class="form-control">
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{$_W['token']}">
                    <input type="hidden" name="id" id="tid" value="">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </small>
        </div>
        <small class="font-bold">
        </small>
    </div>
    <small class="font-bold">
    </small>
</div>
<table class="table table-hover table-responsive">
    <thead class="navbar-inner">
    <tr>
        <th style="width:25px;"><input type="checkbox"  ></th>
        <th >团队名称</th>
        <th >团队成员数</th>
        <th >操作</th>
    </tr>
    </thead>
    <tbody>

    {if $sort==''}
    <tr>
        <td></td>
        <td>无团队</td>
        <td>{$wutuan}</td>
        {ifp 'business.main'}
        <td>
            <a class="btn btn-default btn-sm" href="{php echo webUrl('business/userlist',array('id'=>'0'))}"><i class="fa fa-users"></i> 团队成员</a>
        </td>
        {/if}
    </tr>
    {/if}

    {loop $tuandui $t}
    <tr>
        <td style="width:25px;"><input type="checkbox" value="{$t['id']}" ></td>
        <td>{$t['name']}</td>
        <td>{$t['count']}</td>
        <td>
            {ifp 'business.main'}
            <a class="btn btn-default btn-sm" href="{php echo webUrl('business/userlist',array('id'=>$t['id']))}"><i class="fa fa-users"></i> 团队成员</a>
            {/if}
            {ifp 'business.edit'}
            <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal2" href="javascript:" data-id="{$t['id']}" data-name="{$t['name']}" onclick="change_m(this)"><i class="fa fa-edit"></i> 修改</a>
            {/if}
            {ifp 'business.delete'}
            <a data-toggle="ajaxRemove" class="btn btn-default btn-sm" href="{php echo webUrl('business/delete',array('id'=>$t['id']))}" data-confirm="确定要删除该团队吗？" ><i class="fa fa-trash"></i> 删除</a></td>
            {/if}
    </tr>
    {/loop}

    </tbody>
</table>
{$pager}
<script>
    function change_m(obj){
        $('#tid').val($(obj).attr('data-id'));
        $('#tname').val($(obj).attr('data-name'));
    }
</script>

{template '_footer'}
